.mui-card{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mui-card .add-to-button{
    background-color: #fdc405;
    color: black;
}

.mui-card .add-to-button:hover{
    background-color: #fdd71f;
}


.mui-card .round-button{
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #b7b7b7;
    color: black;
    font-size: 1.2rem;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.4);
}
